global
    log /dev/log  local0 warning
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

   stats socket /var/lib/haproxy/stats

defaults
  log global
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend kube_apiserver_frontend
  bind *:6443
  mode tcp
  option tcplog
  default_backend kube_apiserver_backend

backend kube_apiserver_backend
  mode tcp
  option tcplog
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
  server master1 192.168.3.11:6443 check
  server master2 192.168.3.12:6443 check

frontend http_frontend
  bind *:80
  mode tcp
  option tcplog
  default_backend http_backend

backend http_backend
  mode tcp
  balance roundrobin
    server worker1 192.168.4.11:30100 check send-proxy-v2
    server worker2 192.168.4.12:30100 check send-proxy-v2

frontend https_frontend
  bind *:443
  mode tcp
  option tcplog
  default_backend https_backend

backend https_backend
  mode tcp
  balance roundrobin
    server worker1 192.168.4.11:30101 check send-proxy-v2
    server worker2 192.168.4.12:30101 check send-proxy-v2
